---
excerpt_separator: ""
layout: "archive-post"
title: "Internet Speed Test results"
date: "2007-07-19T07:33:00.000-04:00"
description: "When I first got the service: (image removed, src was: http://www.speedtest.net/result/129473430.png) And now: (image removed, src was: http://www.speedtest.net/result/157012561.png)"
topics: ["personal-notes"]
original_labels: ["speed test"]
original_url: "https://hartsock.blogspot.com/2007/07/internet-speed-test-results.html"
authors: [{"name":"Shawn Hartsock","role":"author"}]
ai: "none"
republished: true
redirect_from: "/posts/archive/2007-07-19-internet-speed-test-results/"
id: bafyr4ihicp34oaj2ig2dytwggakbxqi7zf2kaqlggr2yofegwj5brqbufi
permalink: /posts/internet-speed-test-results-5brqbufi/
---
{% raw %}

When I first got the service:

[(image removed, src was: http://www.speedtest.net/result/129473430.png)](http://www.speedtest.net/)

And now:

[(image removed, src was: http://www.speedtest.net/result/157012561.png)](http://www.speedtest.net/)

{% endraw %}
